# Ignore node_modules
node_modules/

# Ignore dist folder
dist/

# Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.env.local
.env.*.local

# Ignore build and dependency artifacts
.DS_Store
*.tsbuildinfo
